
.App {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
}

textarea {
  width: 350px;
  height: 250px;
  border: 2px solid black;
  font-family: 'Work Sans', sans-serif;
  font-size: 1em;
  opacity: 0.65;
  padding: 10px;
}

button {
  display: inline-block;
  width: 70px;
  background-color: white;
  border: 2px solid black;
  font-family: 'Work Sans', sans-serif;
  margin: 20px 10px;
  outline: none;
}
button:hover {
  background-color: black;
  color: white;
}
